/* Прибрати відступи */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    /* Debug line */
    /*border: rgba(255, 0, 0, 0.28) 1px solid;*/
}

/* Дефолт колір */
body {
    background-color: white;
    color: #000000;
    /* Hide scrollbars */
    overflow: hidden;
}

/* Чорна тема */
.dark-mode {
    background-color: #22262a;
    color: white;
}

/* Шапка */
header {
    display: flex;
    justify-content: center;
    gap: 25%;
    height: 10vh;
    background: #1c1c21;
    color: white;
    font-size: 2rem;
}

/* Контейнер лого і текст */
.logo {
    display: flex;
    align-items: center;
}

/* Лого зображення */
.logo-img {
    width: 5vh;
}

/* Текст біля лого */
.logo-text {
    margin-left: 25px;
}

/* Секція навігації */
nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Кнопки навігації */
a, a:visited {
    color: white;
    text-decoration: none;
}

/* Наведення на іконки, зміна кольору */
.icon:hover {
    filter: invert(60%) sepia(93%) saturate(483%) hue-rotate(167deg) brightness(101%) contrast(101%);
}

/* Іконки */
.icon {
    display: flex;
    height: 3vh;
}

/* Футер в кінці */
.for-footer-top {
    min-height: 95vh;
}

/* Футер */
footer {
    height: 5vh;
    background: #1c1c21;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/* Чекбокс позиція */
.checkbox {
    opacity: 0;
    position: absolute;
}

/* Чекбокс підпис */
.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Анімація чекбокс 1 */
.checkbox-label .ball {
    background-color: #ffffff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/* Анімація чекбокс 2 */
.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

/* Зменшення напису кнопки */
label i {
    scale: 50%;
}

/* Збільшення дів з кнопкою чорної теми */
.darkmode {
    scale: 150%;
    border: white 1px solid;
    border-radius: 25px;
}

/* Головна контейнер зображень */
.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin: 100px auto 0;
}

/* Головна контейнер зображень перевернута */
.background-container-2 {
    flex-direction: row-reverse;
    margin: 250px auto 0;
}

/* Головна зображення */
.background-img {
    border-radius: 50px;
    width: 50vw;
    height: 75vh;
}

/* Головна зображення анімація */
.background-img:hover {
    box-shadow: rgba(44, 44, 44, 0.65) 0 0 15px;
    transition: all 1s;
    scale: 103%;
}

/* Головна зображення без анімації */
.background-img:not(:hover) {
    transition: all 1s;
}

/* Фото слайдер 1 на головній */
.div_image1 {
    background: url('../img/ backgrounds/background-4.jpg') no-repeat fixed center center;
    background-size: 175vh;
    height: 100vh;
}

/* Фото слайдер 2 на головній */
.div_image2 {
    background: url('../img/ backgrounds/background-3.jpg') no-repeat fixed center center;
    background-size: 175vh;
    height: 80vh;
}

/* Текст на головній градієнт */
.gradient-text {
    background: -webkit-linear-gradient(#c500ff, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

/* Margin для тексту */
.text-margin {
    margin: 50px;
}

/* Сторінка about */
.about {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

/* Карта */
iframe {
    border-radius: 50px;
    border: 0;
    width: 35vw;
    height: 50vh;
}

/* Відступи 25 */
.margin-25 {
    margin: 25px;
}

/* Контейнер з усіма товарами */
.all-products {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

/* Контейнер з 1 продуктом */
.single-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2c2c2c;
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 25vw;
    height: 70vh;
}

/* Контейнер з 1 продуктом наведення */
.single-product:hover {
    transition: all 1s ease;
    scale: 103%;
    box-shadow: #2c2c2c 0 0 3px;
}

/* Контейнер з 1 продуктом без наведення плавно */
.single-product:not(:hover) {
    transition: all 1s ease;
}

/* Картинка товару */
.catalog-img {
    margin: 25px 0;
    width: 20vw;
    height: 40vh;
}

/* Назва товару */
.product-name {
    font-size: 2rem;
}